extends layout

block content
	h1=title
	form(action='/message', method='post')
		input(type='text', name='message', placeholder='enter a message')
		input(type='submit',name='submit',value='submit')
